<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<sly data-sly-use.model="${'com.training.core.models.ScratchImageWithTextModel'}"></sly>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" >
  <sly data-sly-call="${templates.placeholder @ isEmpty = !model.name}"></sly>
</sly>

<h2>${model.name}</h2>
<p>${model.richtext @context='html'}</p>

<div class="container">
  <img src="${model.path}" alt="" style="width:100%;">
  <div class="bottom-left">${model.bottomlefttext}</div>
  <div class="top-left">${model.toplefttext}</div>
  <div class="top-right">${model.toprighttext}</div>
  <div class="bottom-right">${model.bottomrighttext}</div>
  <div class="centered">${model.centeredtext}</div>
</div>
